@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", "SF Pro Display", Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 195 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 271 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --accent: 34 100% 55%;
    --accent-foreground: 0 0% 100%;
    --muted: 210 40% 96%;
    --muted-foreground: 214 32% 39%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 195 100% 50%;
    --radius: 0.5rem;
    --chart-1: 34 100% 55%;
    --chart-2: 271 100% 50%;
    --chart-3: 195 100% 50%;
    --chart-4: 325 90% 66%;
    --chart-5: 210 100% 60%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 14%;
    --popover-foreground: 210 40% 98%;
    --primary: 195 100% 50%;
    --primary-foreground: 222 47% 11%;
    --secondary: 271 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --accent: 34 100% 55%;
    --accent-foreground: 0 0% 100%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 75%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 195 100% 50%;
    --chart-1: 34 100% 55%;
    --chart-2: 271 100% 50%;
    --chart-3: 195 100% 50%;
    --chart-4: 325 90% 66%;
    --chart-5: 210 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f1729;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #161f31;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1a2537;
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  @apply text-transparent bg-clip-text;
  background-image: linear-gradient(
    -45deg,
    hsl(34 100% 55%) 0%,
    hsl(325 90% 66%) 33%,
    hsl(271 100% 50%) 66%,
    hsl(195 100% 50%) 100%
  );
  background-size: 300% 300%;
  animation: gradient-shift 6s ease infinite;
}

.logo-gradient-orange {
  background: linear-gradient(135deg, #ffe259 0%, #ff548e 100%);
}

.logo-gradient-purple {
  background: linear-gradient(135deg, #7c4dff 0%, #b56efd 100%);
}

.logo-gradient-blue {
  background: linear-gradient(135deg, #0071ff 0%, #00c6ff 100%);
}
